#pessoas_banner{
    background-image: url("../img/Turma.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    height: 100%;

    text-align: center;
}

#pessoas_banner h1{
    color: white;
    background-color: rgba(15, 15, 15, 0.75);
}

body{
    position: relative;
    background-color: rgb(17, 70, 168);
    color: white;
}

.listInfo{
    margin-top: 10em;
}

/* li:before {
    content: counters(item, ".") " ";
    counter-increment: item;
} */
/* ol {
    counter-reset: item
} */
p{
    font-size: 18px;
    text-align: justify;
}